*{
	padding:0;
	margin:0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
div{
	font-family:微软雅黑;
}
/*
顶部悬浮
*/
.heada{
	height:110px;
}
.heada1{
	width:1200px;
	height:130px;
	margin:0 auto;
}
.headaa{
	width:1200px;
	height:30px;
}
.heada2{
	font-size:;
	float:left;
	color:#9a9791;
}
.heada3{
	width:825px;
	height:30px;
	background-color:#ffffff;	
	float:right;
}
.heada3 li{
	float:left;
	margin-left:15px;
	padding-top:5px;
}
.heada3 a{
	color:#9a9791;
	font-size:14px;
}
.heada3 li span{
	color:#fe6c00;
}
.headaaa{
	width:1200px;
	height:75px;
	padding-top:15px;
}
/*logo*/
.heada4{
	width:170px;
	height:90px;
	float:left;
}
/*搜全网*/
.heada5{
	width:590px;
	height:90px;
	margin:0 auto;
}
.heada6{
	width:590px;
	height:40px;
	border-radius:3px;
	background-color:#fe6c00;
}
.heada6a{
	width:495px;
	height:33px;
	margin-left:3px;
	margin-top:2px;
	margin-bottom:2px;
	background-color:#ffffff;
	float:left;
}
.heada6b{
	width:86px;
	height:40px;
	font-size:18px;
	text-align:center;
	background-color:#fe6c00;
	color:#ffffff;
}
.heada7{
	float:left;
	width:590px;
	height:40px;
}
.heada7 li{
	font-size:12px;
	float:left;
	padding-left:6px;
	padding-right:6px;
	background: url(img/xian.png)no-repeat right center;

}
.heada7 li:last-child{
	background: none;
}
.a{
	color:red;
}
.b{
	color:#c0cae0;
}
 
/*问题*/
.heada8{
	width:260px;
	height:40px;
	text-align:center;
	float:right;
}
.heada8a{
	width:82px;
	height:40px;
	text-align:center;
	border: 1px solid#c0cae0;
	padding-top:2px;
	font-size:12px;
	color:#9a9791;
	float:right;
}
.heada8b{
	width:82px;
	height:30px;
	text-align:center;
	font-size:12px;
	padding-top:10px;
	color:#ffffff;
	background-color:#fe6c00;
	border: 1px solid #c0cae0;
	float:right;
}

/*清除浮动*/
.clear{
	clear:both;
}



.banner{
	height:40px;
	background-color:#000000;
}
.banner1{
	width:1200px;
	height:40px;
	margin:0 auto;
}
.banner1a{
	width:1000px;
	height:40px;
}
.banner1a li{
	height:30px;
	float:left;
	padding-top:10px;
	text-align:center;
	margin-right:50px;
}
.banner1a li:first-child{
	height:30px;
	width:100px;
	text-align:center;
	padding-top:10px;
	background-color:#fe0d4a;
}
.banner1a a{
	font-size:16px;
	color:#ffffff;
}
.banner1a li.active{
	background-color:#fe0d4a;
}
.banner1b{
	float:right;
}



.bannerb{
	height:780px;
	background-color:#f8f7f6;
}
.bannerb1{
	width:1200px;
	height:32px;
	font-size:16px;
	padding-top:10px;
	margin:0 auto;
}
.bannerb1 a{
	
	color:#000000;
}
.bannerc{
	width:1200px;
	height:780px;
	margin:0 auto;
}
.bannerc1{
	width:1000px;
	height:630px;
	float:left;
	background-color:#ffffff;
}



#bannerc1a{
	width:450px;
	height:630px;
	float:left;
}
#bannerc1aa{
	height:410px;
	width:410px;
	position: relative;
	margin-top:20px;
	margin-left:20px;
	border: 1px solid #d0cdc7;
}
#img1 {
    width: 410px;
    height: 410px;
    float:left;
    position: absolute;
    outline: 1px solid #d0cdc7;
}

#img1 img {
    width: 410px;
    height: 410px;
}
#slider{
	width: 180px;
    height: 180px;
    background: #CCC;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    cursor: move;
    display: none;
}
#img2{
	position: absolute;
	height:410px;
	width:410px;
	margin-left:410px;
	background-color:#ffffff;
	outline: 1px solid #d0cdc7;
	display: none;
	float:left;
	overflow: hidden;
}
#Bimg {
    width:820px;
    height:820px;
    position: absolute;
    left: 0;
    top: 0;
}

.bannerc1ab{
	width:410px;
	height:65px;
	margin-top:25px;
	margin-left:20px;
}
#btn{
	width:60px;
	height:60px;
	float:left;
}
#bt{
	width:60px;
	height:60px;
	float:left;
}

.bannerc1b{
	width:540px;
	height:630px;
	float:right;
}
.bannerc1b1{
	margin-top:20px;
	font-size:18px;
	color:#000000;
}
.bannerc1b2{
	font-size:12px;
	margin-top:10px;
	line-height:20px;
	color:#676660;
}
.bannerc1b3{
	width:500px;
	height:35px;
	margin-top:10px;
	padding-top:18px;
	padding-left:18px;
	background-color:#f7f6f5;
}
.bannerc1b4{
	width:500px;
	height:35px;
	margin-top:10px;
	padding-top:18px;
	padding-left:18px;
	
}
#bannerc1b5{
	width:65px;
	height:30px;
	float:left;
	margin-left:18px;
	border: 1px solid #fe0d4a;
	background:url(img/duigou.png) no-repeat;
	background-position: right bottom;
	display:none;
}
#bannerc1b6{
	width:65px;
	height:30px;
	float:left;
	margin-left:18px;
	border: 1px solid #fe0d4a;
	background:url(img/duigou.png) no-repeat;
	background-position: right bottom;
	display:none;
}
.bannerc1b7{
	width:500px;
	height:35px;
	margin-top:10px;
	padding-left:18px;
}
#bannerc1b8{
	width:30px;
	height:30px;
	float:left;
	margin-left:60px;
	background-color:#ffffff;
}
#bannerc1b9{
	width:50px;
	height:28px;
	float:left;
	text-align:center;
	border: 2px solid #aca7a2;
	background-color:#ffffff;
}
#bannerc1b10{
	width:30px;
	height:30px;
	float:left;
	background-color:#ffffff;
}
.bannerc1b11{
	width:500px;
	height:20px;
	padding-left:18px;
}
.bannerc1b12{
	width:500px;
	height:40px;
	margin-top:15px;
}
.bannerc1b13{
	width:150px;
	height:40px;
	color:#ff0754;
	float:left;
	margin-left:40px;
	border-radius:5px;
	background-color:#ffffff;
	border: 1px solid #ff0754;
}
.bannerc1b14{
	width:150px;
	height:40px;
	float:left;
	margin-left:25px;
	border-radius:5px;
	color:#ffffff;
	background-color:#ff0754;
}
.xu{
	margin-left:110px;
	margin-top:10px;
	float:left
}
#xuan{
	display:none;
	color:#ff9003;
	float:left;
	margin-top:10px;
}
#xuan1{
	display:none;
	color:#ff9003;
	float:left;
	margin-top:10px;
}



.bannerc2{
	width:175px;
	height:630px;
	float:right;
	background-color:#ffffff;
}
.bannerc3{
	width:1200px;
	height:130px;

}




/*底部*/
.back{
	height:400px;
	
}
.di1{
	width:1200px;
	height:200px;
	border-bottom:solid;
	border-bottom-width:2px;
	border-bottom-color:#ebeae8;
	margin:0 auto;
}
.di1a{
	width:170px;
	height:180px;
	float:left;
}
.di1b{
	width:800px;
	height:180px;
	margin:0 auto;
}
.di1b li{
	float:left;
	margin-top:25px;
	margin-left:60px;
	font-size:18px;
	color:#000000;
}
.di1b a{
	font-size:14px;
	line-height:30px;
	color:#9a9791;
}
.di1c{
	width:200px;
	height:180px;
	float:right;
	margin-top:15px;
	text-align:center;
}

.di2{
	width:720px;
	height:35px;
	margin:0 auto;
}
.di2 li{
	float:left;
	padding-left:12px;
	padding-right:12px;
	background: url(img/shuxian.png)no-repeat right center;
}
.di2 a{
	font-size:14px;
	line-height:30px;
	color:#9a9791;
}
.di2 li:last-child{
	background: none;
}
.di3{
	font-size:14px;
	line-height:30px;
	color:#9a9791;
	margin:0 auto;
	text-align:center;
}
.di4{
	width:785px;
	height:65px;
	margin:0 auto;
	text-align:center;
}
.di4 li{
	margin-bottom:0px;
	float:left;
	text-align:center;
}